In [1]:
import warnings
warnings.filterwarnings('ignore')
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv
import pandas as pd

In [2]:
load_dotenv()

True

In [3]:
DATABASE = os.environ.get("DataBase")

In [4]:
engine = create_engine(DATABASE)

In [5]:
conn = engine.connect()

In [6]:
sql = "SHOW TABLES"

In [7]:
tables = pd.read_sql(sql, conn)

In [17]:
table_names = tables['Tables_in_cybos_plus_stock_minute_data']

In [12]:
data_sql = f"SELECT * FROM {tables['Tables_in_cybos_plus_stock_minute_data'][0]}"

In [14]:
price = pd.read_sql(data_sql, conn)

In [15]:
price

,date,open_price,high_price,low_price,close_price,volume,transaction_amount
0,2019-03-25 09:01:00,9600,9600,9590,9590,1394,13380000
1,2019-03-25 09:02:00,9590,9590,9590,9590,954,9150000
2,2019-03-25 09:04:00,9590,9590,9580,9580,52,490000
3,2019-03-25 09:05:00,9580,9580,9560,9560,549,5250000
4,2019-03-25 09:06:00,9560,9560,9550,9550,904,8640000
...,...,...,...,...,...,...,...
190061,2021-10-08 15:17:00,20150,20150,19100,19400,297553,5801920000
190062,2021-10-08 15:18:00,19400,19450,18800,18850,218788,4174270000
190063,2021-10-08 15:19:00,18850,19400,18800,19350,135698,2605120000
190064,2021-10-08 15:20:00,19350,19550,19250,19500,87431,1698100000
190065,2021-10-08 15:30:00,19350,19350,19350,19350,166496,3221690000

In [16]:
def get_data(table_name: str):
    data_sql = f"SELECT * FROM {table_name}"
    price = pd.read_sql(data_sql, conn)
    ticker = table_name.split('_')[1]
    price['ticker'] = ticker
    return price

In [18]:
get_data(table_names[0])

,date,open_price,high_price,low_price,close_price,volume,transaction_amount,ticker
0,2019-03-25 09:01:00,9600,9600,9590,9590,1394,13380000,000020
1,2019-03-25 09:02:00,9590,9590,9590,9590,954,9150000,000020
2,2019-03-25 09:04:00,9590,9590,9580,9580,52,490000,000020
3,2019-03-25 09:05:00,9580,9580,9560,9560,549,5250000,000020
4,2019-03-25 09:06:00,9560,9560,9550,9550,904,8640000,000020
...,...,...,...,...,...,...,...,...
190061,2021-10-08 15:17:00,20150,20150,19100,19400,297553,5801920000,000020
190062,2021-10-08 15:18:00,19400,19450,18800,18850,218788,4174270000,000020
190063,2021-10-08 15:19:00,18850,19400,18800,19350,135698,2605120000,000020
190064,2021-10-08 15:20:00,19350,19550,19250,19500,87431,1698100000,000020
190065,2021-10-08 15:30:00,19350,19350,19350,19350,166496,3221690000,000020